{
    "extends": "defaults",
    "env": {
        "browser": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "spread": true,
            "experimentalObjectRestSpread": true
        },
    },
    "rules": {
        "block-scoped-var": 1,
        "no-warning-comments": 1,
        "radix": 1,
        "valid-jsdoc": 1
    }
}
