# Prototype
snippet af
	function (${1:arguments}) {
		${2:body}
	};

snippet directive
	app.directives.${1:directive} = [function () {
		return {
			restrict: 'A',
			link: function (scope, element, attrs) {
				${2:body}
			}
		};
	}];

snippet con
	console.log(arguments);
