[user]
    name = Thomas Belin
    email = thomasbelin4@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    editor = /usr/bin/vim
[push]
    default = current
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st = status -sb
    df = diff --color
    ft = fetch -p
    co = checkout
    oups = commit --amend -C HEAD
