[user]
	name = Thomas Belin
    email = me@thomasbelin.fr
[core]
    excludesfile = ~/.gitignore_global
    editor = /usr/bin/nvim
[push]
    default = current
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st = status -sb
    df = diff --color --abbrev
    ft = fetch -p
    co = checkout
    ap = add -p
    oups = commit --amend -C HEAD
[rerere]
	enabled = true
