[submodule "vim/.vim/bundle/tabular"]
	path = vim/.vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/.vim/bundle/ctrlp"]
	path = vim/.vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/molokai"]
	path = vim/.vim/bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/.vim/bundle/piv"]
	path = vim/.vim/bundle/piv
	url = https://github.com/spf13/PIV.git
[submodule "vim/.vim/bundle/phpdoc"]
	path = vim/.vim/bundle/phpdoc
	url = https://github.com/sumpygump/php-documentor-vim.git
[submodule "vim/.vim/bundle/vim-twig"]
	path = vim/.vim/bundle/vim-twig
	url = https://github.com/beyondwords/vim-twig.git
[submodule "vim/.vim/bundle/php-namespace"]
	path = vim/.vim/bundle/php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace.git
[submodule "vim/.vim/bundle/vim-jade"]
	path = vim/.vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/.vim/bundle/surround"]
	path = vim/.vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/snipmate.vim"]
	path = vim/.vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/.vim/bundle/jsdoc"]
	path = vim/.vim/bundle/jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule "vim/.vim/bundle/ternjs.vim"]
	path = vim/.vim/bundle/ternjs.vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bash/themes/smyck"]
	path = bash/themes/smyck
	url = https://github.com/hukl/Smyck-Color-Scheme.git
[submodule "vim/.vim/bundle/hardmode"]
	path = vim/.vim/bundle/hardmode
	url = https://github.com/wikitopian/hardmode.git
