[submodule "bash/themes/smyck"]
	path = bash/themes/smyck
	url = https://github.com/hukl/Smyck-Color-Scheme.git
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
