[submodule "bash/themes/smyck"]
	path = bash/themes/smyck
	url = https://github.com/hukl/Smyck-Color-Scheme.git
[submodule "kakoune/autoload/kakoune-typescript"]
	path = kakoune/autoload/kakoune-typescript
	url = git@github.com:atomrc/kakoune-typescript.git
